* {margin: 0; padding: 0;}

.wrapper_contact {
    margin-top: 33px;
    height: 275px;
    max-width: 1348px;
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    
}

.contact_div{
    display: block;
}

.Telefon{
    margin-left: 30px;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
}

.insta{
    color: #000;
    background-image: url(../../media/icons.png);
}

.contact{
    margin: 35px 0 25px 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}



.adres_div{
    display: block;
    text-align: left;
}

.adres{
    margin: 35px 0 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.text{
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
}

.working_mode{
    margin: 20px 0 2px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.clock{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}