* {margin: 0; padding: 0;}

.wrapper_contact {
    margin-top: 33px;
    height: 375px;
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    
}

.contact_div{
    display: block;
}

.Telefon{
    margin-left: 30px;
    font-weight: 600;
    font-size: 70px;
    line-height: 130%;
}

.icon_container{
    margin: 33px;
    display: flex;
    gap: 35px;
}

.icon_style{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
}

.contact{
    margin: 35px 0 25px 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}



.adres_div{
    margin-right: 30px;
    display: block;
    text-align: left;
}

.adres{
    margin: 35px 0 25px;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.adres_text{
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-decoration-line: underline;
}

.working_mode{
    margin: 20px 0 2px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.clock{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}