* {margin: 0; padding: 0;}

.wrapper_basket{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
}


.text{
    margin: 30px 0 0 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    line-height: 130%;
    color: #000000;
}

.home_container{
    margin: 20px 0 35px 30px;
    display: flex;
    justify-content:space-between;
}

.home{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.back{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.order_container{
    margin-top: 163px;
    margin-right: 30px;
    width: 496px;
    height: 393px;
    border: 2px solid #000000;
    border-radius: 21px;
}

.order_details{
    margin: 25px;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: #000000;
}

.sum_container{
    margin: 45px 43px 50px 30px;
    display: flex;
    justify-content: space-between;
}

.sum{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.total{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
}

.cart_items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

