* {margin: 0; padding: 0;}

.wrapper_Stock {
    margin-top: 50px;
    height: 600px;
    background-color: #fff;
}

.text{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%
}

.stock_container{
    margin: 21px 30px 0 0 ; 
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}