* {margin: 0; padding: 0;}

.header{
    height: 110px;
    background-color: #fff;
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 115px;
}

.header_catalog{
    margin-left: 26px;
    display: flex;
    gap: 26px;
    width:300px;
    justify-content: space-between;
    align-items: center;

}

.header_logo{
    height: 72px;
    width: 72px;
    background-image: url(../media/Logo\ \(3\).png);
}

.header_wrapper{
    display: flex;
    gap: 60px;
    align-items: center;
    width: 400px;
    margin-right: 32px;
}

.header_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    color: #000000;
}

.header_text:hover{
    color: #339933;
}

.svg_basket:hover{
    color: white;
}