* {margin: 0; padding: 0;}

.input_elem{
    width: 473px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 25px;
    border: none;
    color: #6C6C6C;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    padding-left: 0px;
    padding-left: 50px;
}

.Get_discount{
    margin-left: 25px;
    width: 446px;
    height: 73px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: left;
    padding: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130;
    color: #929292;
}