* {margin: 0; padding: 0;}

.wrapper_catalog {
    height: 600px;
    max-width: 1440px;
    background-color: #A1E2EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 30px;
}